%table.table.table-hover
  %thead
    %tr
      %th= label_tag t('gdeslon.label_name')
      %th= label_tag t('gdeslon.label_kind')
      %th= label_tag t('gdeslon.label_url')
      %th= label_tag t('gdeslon.label_date_start')
      %th= label_tag t('gdeslon.label_date_end')
      %th
  %tbody
    - for coupon in @coupons do
      %tr{:class => "gdeslon.#{coupon.id}"}
        %td= link_to coupon.name, gdeslon_show_path(coupon)
        %td= get_kind(coupon.gdeslon_kind_id)
        %td= link_to t('gdeslon.label_url_click'), coupon.url.to_s
        %td= coupon.date_start
        %td= coupon.date_end
        %td
          .delete_action
            %span.glyphicon.glyphicon-trash

= paginate @coupons
