%table.table.table-hover
  %thead
    %tr
      %th= label_tag t('8coupons.label_name')
      %th= label_tag t('8coupons.label_address')
      %th= label_tag t('8coupons.label_url')
      %th= label_tag t('8coupons.label_date_start')
      %th= label_tag t('8coupons.label_date_end')
      %th
  %tbody
    - for coupon in @coupons do
      %tr{:class => "8coupons.#{coupon.id}"}
        %td= link_to coupon.name, ninecoupons_show_path(coupon)
        %td= coupon.city + ", " + coupon.address
        %td= link_to t('8coupons.label_url_click'), coupon.url.to_s
        %td= coupon.date_start
        %td= coupon.date_end
        %td
          .delete_action
            %span.glyphicon.glyphicon-trash

= paginate @coupons
