.page-header
  %h1=t('label_coupon')
%p
  %ul.nav.nav-tabs
    %li.active
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} unless params[:db]
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} if params[:db] === 'gdeslon'
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} if params[:db] === '8coupons'
    %li
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} unless params[:db]
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} if params[:db] === '8coupons'
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} if params[:db] === 'gdeslon'


%div
  %fieldset
    %p
      %label
        = t('gdeslon.label_name')
        \:
        = @coupon.name
    %p
      %label
        = t('gdeslon.label_description')
        \:
        = @coupon.description
    %p
      %label
        = t('gdeslon.label_kind')
        \:
        =get_kind(@coupon.gdeslon_kind_id) if @coupon.gdeslon_kind_id
    %p
      %label
        = t('gdeslon.merchant')
        \:
        = get_merchant(@coupon.gdeslon_merchant_id) if @coupon.gdeslon_merchant_id
    %p
      %label
        = t('gdeslon.label_url')
        \:
        = link_to t('gdeslon.label_url_click'), @coupon.url
    %p
      %label
        = t('gdeslon.label_date_start')
        \:
        = @coupon.date_start
    %p
      %label
        = t('gdeslon.label_date_end')
        \:
        = @coupon.date_end
    %p
      %label
        = t('gdeslon.label_code')
        \:
        = @coupon.code
    %p
      =button_to t('label_destroy'), {:controller => "coupons", :action => "gdeslon_destroy"}, :method => "delete" , :class => "btn btn-danger", form: { :from_show => 1 }
