.page-header
  %h1=t('label_coupon_plural')
%p
  %ul.nav.nav-tabs
    %li.active
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} unless params[:db]
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} if params[:db] === 'gdeslon'
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} if params[:db] === '8coupons'
    %li
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} unless params[:db]
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} if params[:db] === '8coupons'
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} if params[:db] === 'gdeslon'

  =render :partial => 'coupons/no_select' unless params[:db]
  =render :partial => 'coupons/gdeslon_table', :locals => { :coupons => @coupons } if params[:db] === 'gdeslon'
  =render :partial => 'coupons/ninecoupons_table', :locals => { :coupons => @coupons } if params[:db] === '8coupons'
