.page-header
  %h1=t('label_coupon')
%p
  %ul.nav.nav-tabs
    %li.active
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} unless params[:db]
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} if params[:db] === 'gdeslon'
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} if params[:db] === '8coupons'
    %li
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} unless params[:db]
      = link_to t("gdeslon.label"), {:controller => 'coupons', :action => 'index', :db => 'gdeslon'} if params[:db] === '8coupons'
      = link_to t("8coupons.label"), {:controller => 'coupons', :action => 'index', :db => '8coupons'} if params[:db] === 'gdeslon'

.row
  .col-md-6
    %div
      %fieldset
        %p
          %label
            = t('8coupons.label_name')
            \:
            = @coupon.name
        %p
          %label
            = t('8coupons.label_description')
            \:
            = @coupon.description
        %p
          %label
            = t('8coupons.label_address')
            \:
            =@coupon.city + ", " + @coupon.address
        %p
          %label
            = t('8coupons.store_id')
            \:
            = @coupon.store_id
        %p
          %label
            = t('8coupons.label_url')
            \:
            = link_to t('8coupons.label_url_click'), @coupon.url
        %p
          %label
            = t('8coupons.label_date_start')
            \:
            = @coupon.date_start
        %p
          %label
            = t('8coupons.label_date_end')
            \:
            = @coupon.date_end
        %p
          =button_to t('label_destroy'), {:controller => "coupons", :action => "ninecoupons_destroy"}, :method => "delete" , :class => "btn btn-danger", data: { :from_show => 1 }



