<!DOCTYPE html>
<html>
<head>
  <title>Shopster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

    <div class="span10">
      <%= yield %>
    </div>

</div>

<div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"><address>
    <strong>Alexander Gornov</strong><br>
    <a href="mailto:zmokizmoghi@gmail.com">zmokizmoghi@gmail.com</a>
  </address></div>
  <div class="col-md-1"></div>
</body>
</html>
